# CDK asset staging directory
.cdk.staging
cdk.out

# # yarn zero install
# .yarn/*
# !.yarn/cache
# !.yarn/patches
# !.yarn/plugins
# !.yarn/releases
# !.yarn/sdks
# !.yarn/versions

# yarn non-zero install
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# env
.env.local
.env.development.local
.env.test.local
.env.production.local

# files
*.js
*.js.map
!jest.config.js
*.d.ts
*.generated.ts
*.tgz
.vscode

# folders
coverage
dist
node_modules